[Unit]
Description=Auto Sync Downloaded Videos Directory
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /root/downloaded-videos-auto-sync/downloaded-videos-auto-sync.sh
Restart=always
RestartSec=5
User=chy
Group=admin
MemoryHigh=1.6G
MemoryMax=2G
SyslogIdentifier=downloaded-videos-auto-sync

[Install]
WantedBy=multi-user.target